<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Enroter, Logistica Reversa, Sustentabilidade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/styles.css">
    <link rel="icon" type="image/png" href="../Assets/Icons/tree.png"/>
    <title>Enroter</title>
</head>

<body>
    <!-- tag semantica do header -->
    <header>
        <!-- o header bg tem a função de colorir o header -->
        <div class="header_bg">
            <!-- o menu será o flexbox container do header -->
            <div class="menu" id="topo">
                <div class="logo">
                    <a href="index.html"><img src="../Assets/Imgs/logoEnroter.svg" alt="logo da Enroter" class="logo"></a>
                </div> <!-- logo-->

                <!-- definindo a flexbox que conterá os itens de navegação do site -->
                <nav>
                    <!-- flexbox container do nav -->
                    <ul class="nav_c">
                        <li><a href="index.html" class="nav_item button_nav">Home</a></li>
                        <li><a href="saibaMais.html" class="nav_item button_nav">Saiba Mais</a></li>
                        <li><a href="faleConosco.html"class="nav_item button_nav">Fale Conosco</a></li>
                    </ul> <!-- nav_c-->    
                </nav> <!-- nav -->
            </div> <!-- .menu-->
        </div><!-- .headerbg-->
    </header>
    <figure>
        <img src="../Assets/Imgs/teste.jpg" alt="imagem de um rio cercado por floresta" class="banner">
        <!-- <figcaption> fonte: freeimages.com </figcaption> -->
    </figure>
    
    <!-- seção principal da página, conterá as informações da página -->
    <main>
        <div class="main">
            <!-- arrumar o espaçamento do menu -->
            <article>
                <h2 class="lema">Quem Somos</h2>
                <p>
                    Nós da Enroter focamos na <strong>logística reversa de dispositivos eletrônicos</strong> tais como:
                </p>    
                <ul>
                    <li>Notebooks;</li>
                    <li>Pcs;</li>
                    <li>Celulares;</li>
                    <li>Projetores;</li>
                    <li>Câmeras Fotográficas;</li>
                    <li>Televisores;</li>
                </ul> 
                <p class="texto">
                    Para realizar a coleta buscamos estreitar a relação entre os consumidores e os produtores de dispositivos eletrônicos que se propõem
                    a realizar o reaproveitamento ou descarte apropriado. Para tal, criamos uma solução capaz proporcionar esse relacionamento.    
                </p>
                <p>
                    As empresas que se propuserem a coletar os dispositivos eletrônicos se cadastram na plataforma informando
                    seus dados de contato a fim de permitir que o consumidor encontre o local para realizar a devolução desses
                    dispositivos.
                    O consumidor também pode efetuar seu próprio cadastro para agendar a coleta dos dispositivos em sua residência, caso
                    o parceiro possua mecanismos para efetuar coleta residencial.
                    Dessa forma, acreditamos ser possível diminuir o descarte de materiais nocivos de forma
                    indevida, prejudicando a fauna e a flora.
                </p>
            </article> <!-- quem somos -->

            <article>
                <h2 class="lema">Nossa Missão</h2>
                <p class="texto">
                    Nós da Enroter acreditamos que com a participação de todos o mundo se torna um lugar melhor, por isso fazemos
                    nosso trabalho com todo amor e carinho.
                </p>   
                <p>
                    Nós nos comprometemos a unir a lacuna que existe entre as partes que produzem, os consumidores que desejam
                    retornar seus produtos e as pessoas que veem no retorno de materiais o seu ofício. Dessa forma todos se aliam
                    para manter o bem-estar do meio ambiente.
                </p> 
            </article> <!-- nossa missao-->

            <div>
                <figure>
                    <img src="../Assets/Imgs/lixo.jpg" alt="pilha de invólucros de plástico" class="img_corpo">
                    <figcaption>Fonte: freeimages.com</figcaption>
                </figure>
            </div> <!-- img lixo-->

            <article>
                <h2 class="lema">O consumidor</h2>
                <p>
                    Nós, como consumidores, desempenhamos papel central no processo de logística reversa. São responsabilidades
                    do consumidor:
                    <ul>
                        <li>Prezar pela retenção do material;</li>
                        <li>Acondicionar o dispositivo em local longe das ações do meio ambiente;</li>
                        <li>Realizar o retorno à empresa responsável;</li>
                    </ul> 
                </p>
            </article> <!-- o consumidor -->

            <article>
                <h2 class="lema">As empresas</h2>
                <p>
                    As empresas vêm sendo cobradas - não só pelas organizações governamentais, mas pelos próprios
                    consumidores - a assumir um papel mais responsável em relação ao pós-venda de seus produtos.
                    No quesito de responsabilidades esperados pelas empresas destacamos:
                    <ul>
                        <li>Se prontificar a receber os produtos que necessitam de descarte adequado;</li>
                        <li>Munir-se de boa vontade no atendimento do cliente;</li>
                        <li>Realizar o reaproveitamento ou descarte apropriado para cada componente;</li>
                    </ul>
                </p>
            </article> <!-- as empresas-->

            <div>
                <a href="#topo"><img src="../Assets/Icons/up-arrow.png" alt="ícone para voltar ao topo da página" class="voltar_topo"></a>
                Voltar ao Topo
            </div> <!-- voltar ao topo-->
        </div> <!-- .main -->
    </main>

    <footer>
        <!-- define o fundo do footer-->
        <div class="footer_bg">
            <!-- container dos itens do footer-->
            <div class="footer_c">
                <!-- item do footer-->
                <div class="footer_it">
                    Onde Estamos:
                    <address>
                        <p class="p_footer">
                            P.sherman 42 Wallaby Way - Sydney-Aus
                            Prédio das Algas, sala 22
                        </p>
                        <p class="p_footer">
                            Próximo à praça Marlin das Ostras - Em frente ao Siri-Cascudo
                        </p>
                        <p class="p_footer">
                             
                        </p>
                    </address>
                </div> <!-- footer item1 (endereço)-->

                <!-- item do footer-->
                <div class="footer_it">
                    <p class="p_footer">
                        Contate-nos:
                    </p>

                    <ul class="ul_footer">
                        <li>Fone: +01 (01) 2255-8815, das 14:00 as 14:05.</li>
                        <li>Email: Enroter@enroter.com.atl</li>
                        <li>Caixa Postal: 55525-000</li>
                    </ul> 
                </div><!-- footer item2 (contato )-->

                <!-- item do footer -->
                <div class="footer_it"> 
                    <p class="p_footer">
                        Acesse nossas redes sociais:
                    </p>
                    <!-- container dos itens das redes sociais-->
                    <div class="rs_icons_c">
                        <div class="rs_icons_it">
                            <a href="https://facebook.com"><img src="../Assets/Icons/facebook.png" alt="logo do facebook"></a>
                        </div> <!-- facebooklogo -->

                        <div class="rs_icons_it">
                            <a href="https://instagram.com"> <img src="../Assets/Icons/instagram.png" alt="logo do instagram"></a>
                        </div> <!-- instagramlogo-->

                        <div class="rs_icons_it">
                            <a href="https://twitter.com"> <img src="../Assets/Icons/twitter.png" alt="logo do twitter"></a>
                        </div> <!-- twitterlogo-->
                    </div> <!-- .rs_icons_c (container dos itens de redes sociais) -->   
                </div> <!-- footer item3 (redes sociais) -->
            </div> <!-- .footer_c-->
        </div><!-- .footerbg -->

        <!-- div para dar o copyright ao final da página -->
        <div class="copy_bg">
            <!-- container que conterá o item-->
            <div class="copy_c">
                <!-- item do container -->
                <div class="copy_it">
                    <p>
                        Copyright: Todos os direitos reservados ©. Os direitos das imagens utilizadas pertencem aos seus respectivos
                        donos. As mesmas imagens foram utilizadas exclusivamente para fins didáticos.
                    </p>
                </div> <!-- copy_it-->
            </div> <!-- copy_c -->
        </div> <!-- copy_bg -->
    </footer>

    <!-- seção do vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    </div> <!-- Vlibras-->
</body>
</html>