<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Enroter, Logistica Reversa, Sustentabilidade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Assets/Styles/styles.css">
    <link rel="icon" type="image/png" href="../Assets/Icons/tree.png"/>
    <title>Enroter</title>
</head>
<body>
    <!-- tag semantica do header -->
    <header>
        <!-- o header bg tem a função de colorir o header -->
        <div class="header_bg">
            <!-- o menu será o flexbox container do header -->
            <div class="menu" id="topo">
                <div class="logo">
                    <a href="index.html"><img src="../Assets/Imgs/logoEnroter.svg" alt="logo da Enroter" class="logo"></a>
                </div> <!-- logo-->

                <!-- definindo a flexbox que conterá os itens de navegação do site -->
                <nav>
                    <!-- flexbox container do nav -->
                    <ul class="nav_c">
                        <li><a href="index.html" class="nav_item button_nav">Home</a></li>
                        <li><a href="saibaMais.html" class="nav_item button_nav">Saiba Mais</a></li>
                        <li><a href="faleConosco.html"class="nav_item button_nav">Fale Conosco</a></li>
                    </ul> <!-- nav_c-->    
                </nav> <!-- nav -->
            </div> <!-- .menu-->
        </div><!-- .headerbg-->
    </header>

    <main>
        <div class="main">
            <article>
                <h2 class="lema"> O que é logistica reversa?</h2>
                <!-- define o container que conterá os itens do texto e da img -->
                <div class="secao_c">
                    <div class="secao_it_txt">
                        <p class="texto">
                            Segundo o <cite>Ministério do Meio Ambiente:</cite> 
                            "A Logística Reversa é um instrumento de desenvolvimento econômico e social caracterizado por um conjunto
                            de ações, procedimentos e meios destinados a viabilizar a coleta e a restituição dos resíduos sólidos ao 
                            setor empresarial, para reaproveitamento, em seu ciclo ou em outros ciclos produtivos, ou 
                            outra destinação final ambientalmente adequada". 
                        </p>
                        <p class="texto">
                            Em resumo, o indivíduo responsável pela criação do
                            produto em questão se compromete a recebê-lo a fim de realizar o descarte de forma adequada. 
                        </p>
                        <p>
                            Esse descarte muitas vezes se torna inviável ao consumidor, para tal, a empresa se torna como ator fundamental
                            para a manutenção da qualidade do meio ambiente.
                        </p>
                    </div> <!-- secao_it1 (texto)-->

                    <div class="secao_it_img">
                        <img src="../Assets/Imgs/ciclo.png" alt="imagem representando o ciclo da logística reversa">
                    </div> <!-- secao_it2 (img)-->
                </div> <!-- secao_c --> 
            </article> <!-- "oque é logistica reversa" -->

            <article>
                <h2 class="lema"> Mais um pouco sobre Nós</h2>
                <p class="texto">
                    A Enroter é fruto do espírito empreendedor do nosso magnânimo Lucas Fernandes de Paiva, que acredita
                    na responsabilidade individual como caminho para um mundo melhor. A ideia para fundar a Enroter veio durante
                    uma de suas viagens à Sibéria.                  
                </p>
                <p class="texto">
                    Com sua ideia formada e uma sobre-humana força de vontade Lucas fundou a Enroter e se tornou a pessoa
                    mais rica da sua turma de pilates. Mais informações sobre nosso fundador em <a href="https://www.Lucas.com.br">Lucas.com.br</a>
                </p>
                <div>
                    <figure>
                        <img src="../Assets/Imgs/porto.jpg" alt="um porto e diversos containers"> 
                        <figcaption>fonte: freeimages.com</figcaption>
                    </figure>
                </div> <!-- imagem porto -->
            </article> <!-- "mais um pouco sobre nós" -->

            <article>
                <h2 class="lema">Nossas Dependências</h2>
                    <p class="texto">
                        Nos localizamos no centro do polo tecnológico de Sidney e contamos com uma das Dependências
                        mais modernas no quesito conforto.
                        <figure>
                            <img src="../Assets/Imgs/escritorio.jpg" alt="Escritorio da Enroter">
                            <figcaption>Nossas dependências <em>Fonte: rsdesign ©</em></figcaption>
                        </figure> <!-- imagem escritorio -->
                    </p>
            </article> <!-- "nossas dependencias" -->

            <article>
                <!-- flexbox container da seção texto + video -->
                <div class="secao_video_c">
                    <div class="secao_it_txt">
                        <h2 class="lema">Nossos Parceiros</h2>
                        <p class="texto">
                            Nós aqui na Enroter acreditamos que a cooperação salvará o mundo.
                            "Andorinha sozinha não faz verão", ou algo do tipo, não sei, não sou uma andorinha, <em>por enquanto</em>.
                        </p> 
                    </div> <!-- .secao_it_txt -->

                    <div class="secao_it_vid">
                        <!-- width="560" height="315" -->
                        <iframe class="centralizar" src="https://www.youtube.com/embed/xK2TReQePVc" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                        </iframe>  
                    </div> <!-- .secao_it_vid -->
                </div> <!-- .secao_video_c -->
            </article> <!-- "nossos parceiros" --> 
            <div>
                <a href="#topo"><img src="../Assets/Icons/up-arrow.png" alt="ícone para voltar ao topo da página" class="voltar_topo"></a>
                Voltar ao Topo
            </div> <!-- voltar ao topo-->
        </div> <!-- .main -->
    </main>

    <footer>
        <!-- define o fundo do footer-->
        <div class="footer_bg">
            <!-- container dos itens do footer-->
            <div class="footer_c">
                <!-- item do footer-->
                <div class="footer_it">
                    Onde Estamos:
                    <address>
                        <p class="p_footer">
                            P.sherman 42 Wallaby Way - Sydney-Aus
                            Prédio das Algas, sala 22
                        </p>
                        <p class="p_footer">
                            Próximo à praça Marlin das Ostras - Em frente ao Siri-Cascudo
                        </p>
                        <p class="p_footer">
                             
                        </p>
                    </address>
                </div> <!-- footer item1 (endereço)-->

                <!-- item do footer-->
                <div class="footer_it">
                    <p class="p_footer">
                        Contate-nos:
                    </p>

                    <ul class="ul_footer">
                        <li>Fone: +01 (01) 2255-8815, das 14:00 as 14:05.</li>
                        <li>Email: Enroter@enroter.com.atl</li>
                        <li>Caixa Postal: 55525-000</li>
                    </ul> 
                </div><!-- footer item2 (contato )-->

                <!-- item do footer -->
                <div class="footer_it"> 
                    <p class="p_footer">
                        Acesse nossas redes sociais:
                    </p>
                    <!-- container dos itens das redes sociais-->
                    <div class="rs_icons_c">
                        <div class="rs_icons_it">
                            <a href="https://facebook.com"><img src="../Assets/Icons/facebook.png" alt="logo do facebook"></a>
                        </div> <!-- facebooklogo -->

                        <div class="rs_icons_it">
                            <a href="https://instagram.com"> <img src="../Assets/Icons/instagram.png" alt="logo do instagram"></a>
                        </div> <!-- instagramlogo-->

                        <div class="rs_icons_it">
                            <a href="https://twitter.com"> <img src="../Assets/Icons/twitter.png" alt="logo do twitter"></a>
                        </div> <!-- twitterlogo-->
                    </div> <!-- .rs_icons_c (container dos itens de redes sociais) -->   
                </div> <!-- footer item3 (redes sociais) -->
            </div> <!-- .footer_c-->
        </div><!-- .footerbg -->

        <!-- div para dar o copyright ao final da página -->
        <div class="copy_bg">
            <!-- container que conterá o item-->
            <div class="copy_c">
                <!-- item do container -->
                <div class="copy_it">
                    <p>
                        Copyright: Todos os direitos reservados ©. Os direitos das imagens utilizadas pertencem aos seus respectivos
                        donos. As mesmas imagens foram utilizadas exclusivamente para fins didáticos.
                    </p>
                </div> <!-- copy_it-->
            </div> <!-- copy_c -->
        </div> <!-- copy_bg -->
    </footer>

    <!-- seção do vlibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>
    </div> <!-- Vlibras-->
</body>
</html>